{% assign username = include.username %}
{% unless username %}
	{% assign username = site.codepen_username %}
{% endunless %}
<p data-height="400" data-theme-id="0" data-slug-hash="{{ include.hash }}" data-default-tab="result" data-user="{{ username }}" class='codepen'>See the Pen <a href='http://codepen.io/{{ username }}/pen/{{ include.hash }}/'>{{ include.title }}</a> by {{ username }} (<a href='http://codepen.io/{{ username }}'>@{{ username }}</a>) on <a href='http://codepen.io'>CodePen</a>.</p>
<script async src="//assets.codepen.io/assets/embed/ei.js"></script>